// @import '~bootstrap/scss/bootstrap';
@import './dashboard_style.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '../javascripts/components/navbars/navbars.scss';
@import '../javascripts/components/events/events.scss';
@import '../javascripts/components/dashboard/dashboard.scss';
@import '../javascripts/components/diary/diary.scss';
@import '../javascripts/components/news/news.scss';

.hide {
  display: none;
}

body {
  background-color: #f2f4f5;
}

#main-wrapper {
  background-color: f2f4f5;
  overflow: initial;
}

.card-body {
  width: 100%;
}