.eventCards {
  font-size: .9rem;
};


.table th,
.table td {
  vertical-align: inherit;
}

.table {
  margin-bottom: 0rem;
}

.eventCards {
  padding: 1%;
}

.event-name {
  width: 250px;
}

td h2 {
  font-size: 1rem;
}